html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  color: inherit;
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: middle; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0; }

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none outside none; }

h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.kf-header .nav a div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.lp-header .nav a.active:after, .kf-result .kf-header h1:after {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden; }

html,
body {
  height: 100%; }

body {
  line-height: 100%;
  background: #e7e7e7; }

.pos-r {
  position: absolute;
  right: 0; }

.al-l {
  text-align: left; }

.al-r {
  text-align: right; }

.il-b {
  display: inline-block; }

.box, .search-bar {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center; }

.box-v, .page-empty {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center; }

.flex-1 {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1; }

.flex-2 {
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2; }

.flex-3 {
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
  box-flex: 3; }

.flex-4 {
  -moz-box-flex: 4;
  -webkit-box-flex: 4;
  box-flex: 4; }

.flex-5 {
  -moz-box-flex: 5;
  -webkit-box-flex: 5;
  box-flex: 5; }

.header,
.footer {
  position: fixed;
  left: 0;
  right: 0; }

.header,
.footer {
  z-index: 900; }

.header {
  top: 0; }
  .header h1 {
    color: #fff;
    background: #e74e28; }
  .header .control {
    position: absolute;
    top: 13px;
    right: 15px; }
  .header .nav {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .header .nav a {
      display: table-cell; }
    .header .nav a:nth-last-child(1) {
      border-right: 0; }
  .header .back {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 26px;
    color: #fff; }

.footer {
  bottom: 0;
  height: 40px;
  background: #c0c0c0; }
  .footer > h2 {
    margin-left: 67px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #e74e28; }
  .footer > i {
    position: absolute;
    top: 13px;
    left: 19px;
    font-size: 28px;
    color: #e74e28; }

.kf-header {
  height: 97px; }
  .kf-header h1 {
    height: 57px;
    line-height: 57px;
    text-align: center; }
  .kf-header .nav {
    background: #fff; }
    .kf-header .nav a {
      position: relative;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      color: #000;
      border-right: 1px solid #e4e2e1; }
      .kf-header .nav a:after {
        position: relative;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-top: 2px solid #cccccc;
        border-right: 2px solid #cccccc;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        content: " "; }
      .kf-header .nav a div {
        display: inline-block;
        max-width: calc(100% - 30px); }
    .kf-header .nav a.active {
      color: #e74e28; }
      .kf-header .nav a.active:before {
        position: absolute;
        bottom: -5px;
        left: 50%;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-top: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        content: " "; }
      .kf-header .nav a.active:after {
        top: -5px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        border-color: #e74e28; }
    .kf-header .nav a.on-condition {
      color: #e74e28; }
  .kf-header .menu-on {
    border-bottom: 1px solid #ccc; }
  .kf-header .search {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 24px;
    color: #fff; }

.lp-header {
  height: 57px; }
  .lp-header .nav {
    background: #e74e28; }
    .lp-header .nav a {
      position: relative;
      height: 57px;
      line-height: 57px;
      text-align: center;
      color: #fff;
      border-right: 1px solid #e7e7e7; }
    .lp-header .nav a.active:after {
      position: absolute;
      left: calc(50% - 11px);
      bottom: -11px;
      border-top: 11px solid #e74e28;
      border-left: 11px dashed transparent;
      border-right: 11px dashed transparent; }

.lp-footer {
  height: 57px; }
  .lp-footer .nav {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .lp-footer .nav a {
      display: table-cell; }
    .lp-footer .nav a {
      position: relative;
      padding-top: 37px;
      height: 57px;
      text-align: center;
      color: #fff;
      background: rgba(30, 33, 55, 0.9); }
      .lp-footer .nav a:before {
        position: absolute;
        top: 12px;
        left: calc(50% - 15px);
        font-size: 30px;
        color: #e74e28; }
    .lp-footer .nav a:nth-last-child(1) {
      border-right: 0; }

.hd-header,
.hd-footer {
  height: 57px;
  background: #e74e28; }

.hd-header h1 {
  z-index: 5;
  position: relative;
  line-height: 57px;
  text-align: center; }
  .hd-header h1:before {
    position: absolute;
    top: 42px;
    left: calc(50% - 31px);
    width: 62px;
    height: 62px;
    line-height: 62px;
    font-size: 52px;
    color: #5b5a5f;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.7); }
  .hd-header h1:after {
    z-index: -1;
    position: absolute;
    top: -190px;
    left: calc(50% - 138px);
    width: 238px;
    height: 238px;
    border: 19px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    background: #4bb3a8;
    background-clip: padding-box;
    content: " "; }

.hd-footer {
  line-height: 57px;
  text-align: center; }

.wrap-page {
  position: relative;
  min-height: 100%; }

.nav-list {
  z-index: 500;
  display: none;
  position: fixed;
  top: 97px;
  bottom: 40px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: auto; }
  .nav-list li {
    padding-left: 30px;
    height: 40px;
    line-height: 41px;
    background: #fff;
    border-top: 1px solid #dbd8d7; }
    .nav-list li:hover {
      background: #efefef; }

.home-page {
  background: #e74e28; }

.kf .wrap-page {
  padding: 97px 0 40px 0; }
.kf .page-empty {
  height: calc(100% - 97px - 40px); }

.lp .wrap-page {
  padding: 0; }
  .lp .wrap-page .page {
    padding: 57px 11px; }

.hd .wrap-page {
  padding: 57px 0; }
  .hd .wrap-page .page {
    background: #fff; }

.lock .wrap-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }

.no-footer .wrap-page {
  padding-bottom: 0; }
.no-footer .nav-list {
  bottom: 0; }
.no-footer .page-empty {
  height: calc(100% - 97px); }

.kf-result .kf-header h1 {
  position: relative;
  padding-left: 10px;
  text-align: left; }
  .kf-result .kf-header h1:after {
    position: absolute;
    left: 43px;
    bottom: -18px;
    border-top: 18px solid #e74e28;
    border-left: 18px dashed transparent;
    border-right: 18px dashed transparent; }
.kf-result .wrap-page {
  padding-top: 77px; }

.single-header .header {
  background: #e74e28; }
  .single-header .header h1 {
    height: 57px;
    line-height: 57px;
    text-align: center; }
  .single-header .header .msg {
    padding: 0 20px;
    height: 57px;
    line-height: 57px;
    font-size: 14px;
    color: #fff; }
.single-header .wrap-page {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
.single-header .form-wrap,
.single-header .error-wrap {
  background: #fff; }

.reload {
  position: absolute;
  top: 0;
  height: 97px;
  line-height: 97px; }

/* home-page */
.top-menu {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  height: 100%;
  background: rgba(231, 78, 40, 0.8) url("../images/logo.png") center top no-repeat;
  background-size: 100%; }
  .top-menu .top-menu-list {
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%; }
  .top-menu a {
    margin: 0 auto;
    display: block;
    width: 225px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-bottom: 1px solid #fffefc;
    -webkit-box-shadow: 0 1px 0 #be978b;
    box-shadow: 0 1px 0 #be978b; }
  .top-menu .top-bak {
    z-index: 4;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    min-height: 195px;
    background: url("../images/top-bak.png") no-repeat bottom;
    background-size: 100%; }

/* page */
.page {
  padding: 0 11px; }
  .page .list {
    letter-spacing: 8px;
    text-align: center; }

.page-empty {
  position: absolute;
  width: 100%;
  line-height: 24px;
  text-align: center;
  color: #b4b3b3;
  background: #fff; }

.page-active {
  display: block; }

.page-disabled {
  display: none; }

.page-tab {
  display: none;
  position: absolute;
  width: 100%; }

.page-tab:target {
  display: block; }

.list-center-line {
  padding: 56px 0 86px 0;
  background-image: -webkit-linear-gradient(left, #e74e28, #e74e28);
  background-image: -o-linear-gradient(left, #e74e28, #e74e28);
  background-image: linear-gradient(to right, #e74e28, #e74e28);
  background-size: 2px 2px;
  background-repeat: repeat-y;
  background-position: center; }

/* card */
.card {
  margin-top: 11px;
  letter-spacing: 0;
  background: #fff;
  border-radius: 5px; }
  .card img {
    width: 100%;
    height: auto; }

.card:last-child {
  margin-bottom: 11px; }

.card-0 {
  display: inline-block;
  padding: 0 17px;
  width: 100%;
  max-width: 400px; }
  .card-0 h2 {
    height: 28px;
    line-height: 28px;
    text-align: center; }
  .card-0 .info {
    position: relative;
    padding: 7px 0;
    font-size: 12px;
    text-align: left; }
    .card-0 .info .pos-r {
      top: 5px; }

.card-1 {
  padding: 0;
  line-height: 20px;
  font-size: 12px; }
  .card-1 .box, .card-1 .search-bar {
    padding: 10px 15px 10px 5px; }
    .card-1 .box div + div, .card-1 .search-bar div + div {
      padding-left: 5px; }
  .card-1 .c1-d3 {
    min-width: 70px; }

.card-2 {
  font-size: 12px;
  line-height: 20px; }
  .card-2 .c2-d1 {
    width: 33%; }
  .card-2 .c2-d2 {
    width: 66%;
    text-align: left; }
  .card-2 .box, .card-2 .search-bar {
    padding: 10px 5px; }
    .card-2 .box div + div, .card-2 .search-bar div + div {
      padding-left: 5px; }

.card-3 {
  display: inline-block;
  padding: 14px 22px 0 22px;
  width: 100%;
  max-width: 400px; }
  .card-3 img {
    max-width: 200px; }
  .card-3 .info {
    padding: 7px 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center; }

.card-4 {
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  font-size: 12px;
  line-height: 20px; }

/* event */
.event {
  position: relative;
  margin-left: 10%;
  width: 40%;
  letter-spacing: 0;
  background-image: -webkit-linear-gradient(left, #e74e28, #e74e28);
  background-image: -o-linear-gradient(left, #e74e28, #e74e28);
  background-image: linear-gradient(to right, #e74e28, #e74e28);
  background-size: 2px 2px;
  background-repeat: repeat-x;
  background-position: center; }
  .event:after {
    position: absolute;
    top: calc(50% - 9px);
    width: 14px;
    height: 14px;
    background: #e74e28;
    border: 2px solid #fff;
    border-radius: 100%;
    content: " "; }
  .event img {
    width: 100%;
    height: auto; }

.event-inner {
  position: relative;
  width: 90%;
  height: auto; }

.event:nth-child(odd) {
  text-align: left; }
  .event:nth-child(odd):after {
    right: -9px; }
  .event:nth-child(odd) .event-inner {
    left: -15%; }

.event:nth-child(even) {
  margin-left: 50%;
  text-align: right; }
  .event:nth-child(even):after {
    left: -9px; }
  .event:nth-child(even) .event-inner {
    right: -25%; }

.event-content {
  display: inline-block;
  max-width: 151px; }

.event-info {
  position: absolute;
  max-width: 151px;
  color: #e74e28; }
  .event-info .event-time {
    line-height: 24px;
    text-align: center;
    font-size: 18px; }
  .event-info .event-title {
    line-height: 16px;
    text-align: center;
    font-size: 12px; }

/* article */
.article {
  padding: 30px 10px; }

.article-info {
  font-size: 12px;
  color: #e74e28; }

.article-figure {
  margin: 25px 0; }
  .article-figure img {
    width: 100%;
    height: auto; }

.article-content {
  line-height: 20px;
  font-size: 12px; }

/* form */
.form {
  height: 100%; }
  .form > div {
    width: 100%; }

.form-info {
  text-align: center;
  font-size: 12px;
  color: #e74e28; }

.form-row {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 95%;
  height: 61px;
  background: #fff; }

.form-row-line {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #eee; }

.form-row-icon {
  padding-left: 50px; }
  .form-row-icon:before {
    position: absolute;
    left: 15px;
    font-size: 26px;
    color: #e74e28; }

.form-row-arrow:after {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 22px;
  color: #ccc;
  content: "\e60b"; }

input {
  width: 100%;
  border: 0;
  outline: 0; }
  input:focus {
    outline: 0; }

.button {
  display: inline-block;
  padding: 9px 25px;
  line-height: 100%;
  color: #fff;
  background: #e74e28;
  border-radius: 15px; }

.button-white {
  color: #e74e28;
  background: #fff; }

.button-red {
  background: #f00; }

.button-green {
  background: #008816; }

.button-small {
  padding: 9px 10px; }

.button-large {
  width: 100%;
  text-align: center;
  font-size: 18px; }

.button-control {
  border-radius: 5px; }

.button-circle {
  display: inline-block;
  padding: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 100%; }

.button-3d {
  display: inline-block;
  padding: 10px 35px;
  line-height: 100%;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #ef8b72 0%, #ef8b72 50%, #e74e28 50%, #e74e28 100%);
  background-image: -o-linear-gradient(top, #ef8b72 0%, #ef8b72 50%, #e74e28 50%, #e74e28 100%);
  background-image: linear-gradient(to bottom, #ef8b72 0%, #ef8b72 50%, #e74e28 50%, #e74e28 100%);
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px #762b18;
  box-shadow: 1px 1px 1px #762b18; }
  .button-3d:after {
    margin-left: 10px;
    content: ">>"; }

/* search */
.search-bar {
  padding: 6px 11px;
  height: 57px;
  background: #fff; }
  .search-bar .search-button-search {
    display: none; }
  .search-bar .search-button-cancel {
    display: inline-block; }

.search-frame {
  position: relative;
  padding: 12px 17px 12px 46px;
  width: calc(100% - 84px);
  height: 45px;
  border: 1px solid #e74e28; }
  .search-frame:before {
    position: absolute;
    top: 14px;
    left: 9px;
    font-size: 26px;
    color: #e74e28; }
  .search-frame .icon-cancel {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 18px;
    color: #b4b3b3; }

.search-bar-on .search-button-search {
  display: inline-block; }
.search-bar-on .search-button-cancel {
  display: none; }
.search-bar-on .icon-cancel {
  display: block; }

.search-button {
  width: 84px;
  text-align: center;
  font-size: 18px; }

.search-item-list {
  max-height: calc(100% - 57px - 49px);
  overflow: auto; }
  .search-item-list li {
    position: relative;
    padding-left: 57px;
    height: 49px;
    line-height: 49px;
    color: #525252;
    border-bottom: 1px solid #b4b3b3; }
    .search-item-list li:before {
      position: absolute;
      left: 20px;
      font-size: 26px;
      color: #b5b5b5; }

.search-delete-item {
  height: 49px;
  line-height: 49px;
  color: #525252;
  border-bottom: 1px solid #b4b3b3;
  text-align: center; }
  .search-delete-item:before {
    margin-right: 5px;
    font-size: 16px;
    color: #525252; }

.result-divide {
  line-height: 40px;
  font-size: 18px; }

/* modal */
.modal {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.modal-item-list {
  overflow: auto;
  max-height: 100%; }
  .modal-item-list li {
    position: relative;
    padding: 0 20px;
    height: 49px;
    line-height: 49px;
    color: #525252;
    border-bottom: 1px solid #b4b3b3; }

.full-modal {
  width: 100%;
  height: 100%;
  background: #fff; }

/* tips */
.tips {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background: rgba(30, 33, 55, 0.9); }

.tips-title h2 {
  width: 81px;
  height: 81px;
  line-height: 81px;
  border: 2px solid #fff;
  border-radius: 8px; }

.tips-msg {
  margin: 63px 0;
  line-height: 30px; }

.tips-control {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .tips-control div {
    display: table-cell; }

/* text */
.text-12 {
  font-size: 12px; }

.text-14 {
  font-size: 14px; }

.text-16 {
  font-size: 16px; }

.text-18 {
  font-size: 18px; }

.text-20 {
  font-size: 20px; }

.text-22 {
  font-size: 22px; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.text-orange {
  color: #e74e28; }

.text-nowrap {
  white-space: nowrap; }

.badge {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff;
  background: #e74e28; }

.badge + .badge {
  margin-left: 5px; }

.back-title {
  font-size: 18px;
  color: #fff; }
  .back-title:before {
    margin-right: 5px; }

/* img */
.img-tip {
  position: relative;
  overflow: hidden; }
  .img-tip .tip {
    position: absolute;
    top: 12px;
    left: -23px;
    padding: 0 20px;
    font-size: 12px;
    color: #fff;
    background: #f00;
    line-height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.img-border-padding {
  padding: 4px 3px; }

.img-border {
  border: 2px solid #e74e28;
  border-radius: 5px; }

.img-bk {
  padding: 5px;
  background: #ffbda3;
  text-align: center; }

.img-max-101 {
  max-width: 101px; }

.img-max-147 {
  max-width: 147px; }

.img-max-151 {
  max-width: 151px; }

.img-min-101 {
  min-width: 101px; }

/* margin */
.center, .tips-title h2 {
  margin-left: auto;
  margin-right: auto; }

/* icon */
@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot");
  /* IE9*/
  src: url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.icon, .header .back, .lp-footer .nav a:before, .hd-header h1:before, .form-row-icon:before, .form-row-arrow:after, .search-frame:before, .search-item-list li:before, .search-delete-item:before, .back-title:before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-register:before {
  content: "\e600"; }

.icon-call:before {
  content: "\e601"; }

.icon-house:before {
  content: "\e602"; }

.icon-search:before, .search-frame:before, .search-item-list li:before {
  content: "\e603"; }

.icon-delete:before, .search-delete-item:before {
  content: "\e604"; }

.icon-arrow-top:before {
  content: "\e605"; }

.icon-fresh-arrow:before {
  content: "\e606"; }

.icon-arrow-down:before {
  content: "\e607"; }

.icon-phone:before {
  content: "\e608"; }

.icon-xiajiantou2:before {
  content: "\e609"; }

.icon-user:before {
  content: "\e60a"; }

.icon-arrow-right:before {
  content: "\e60b"; }

.icon-arrow-left:before, .header .back:before, .back-title:before {
  content: "\e60c"; }

.icon-cancel:before {
  content: "\e60d"; }

.icon-down:before, .hd-header h1:before {
  content: "\e60e"; }

.icon-down-2:before {
  content: "\e60f"; }

.icon-close:before {
  content: "\e610"; }

.icon-building:before {
  content: "\e611"; }

.slide-up {
  -webkit-animation: slide-up 0.5s linear;
  animation: slide-up 0.5s linear; }

.on {
  display: block; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100%); }

  100% {
    -webkit-transform: translateY(0); } }
@-ms-keyframes slide-up {}
@keyframes slide-up {
  0% {
    transform: translateY(100%); }

  100% {
    transform: translateY(0); } }
